---
import { type CollectionEntry, getCollection } from 'astro:content';
import Qarip from '../../../layouts/Qarip.astro';

export async function getStaticPaths() {
	const fonts = await getCollection('qaripter') ?? [];
	return fonts.map((font) => ({
		params: { slug: font.slug },
		props: font,
	}));
}

type Props = CollectionEntry<'qaripter'>;

const font = Astro.props;
const { Content } = await font.render();

---
<Qarip {...font.data} active="description">
  <div class="prose-lg md:prose-xl dark:prose-invert">
    <Content />
  </div>
</Qarip>
