---
import { type CollectionEntry, getCollection } from 'astro:content';
import Qarip from '../../../layouts/Qarip.astro';

export async function getStaticPaths() {
	const fonts = await getCollection('qaripter') ?? [];
	return fonts.map((font) => ({
		params: { slug: font.slug },
		props: font,
	}));
}

type Props = CollectionEntry<'qaripter'>;

const font = Astro.props;

---
<Qarip {...font.data} active="index">
  {font.data.files.map(item => (
		<div>{item.weight}</div>
	))}
</Qarip>
