---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Лицензияларымыз — Qarip">
  <section class="max-w-7xl mx-auto dark:text-white">
    <h1 class="page-title">Лицензияларымыз</h1>
    <p class="my-4 text-md sm:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptas eius voluptatibus, unde impedit cum illo fuga corrupti neque quia natus quis ad quasi quod, cumque error aut repellendus nulla?
    </p>
    <hr class="my-7" />
    <a href="/licenses/hiykaya" class="link">Hiykaya License</a>
    <hr class="my-7" />
    <a href="https://scripts.sil.org/OFL" class="link" target="_blank" rel="noopener noreferrer">Balpaq</a>
  </section>
</Layout>
<style>
  .link {
    @apply text-3xl font-medium my-5 hover:text-brand;
  }
</style>