---
import Layout from '../layouts/Layout.astro';
import Filters from '../components/Filters';
const fonts = await Astro.glob("../pages/qaripter/*.md");
---

<Layout title="Қаріптер — Qarip">
  <Filters />
  <div class="fonts-list">
    {fonts.map(font => (
      <a href={font.url}>
        {font.frontmatter.title}
      </a>
    ))}
  </div>
</Layout>