---
import { Contacts } from '../data';
import Accordion from '../components/Accordion';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Типография — Qarip">
  <section class="max-w-7xl mx-auto dark:text-white">
    <h1 class="page-title">Типографиялық сөздік</h1>
    <p class="my-5 text-lg opacity-70">
      Әр терминнің өте қысқа түсіндірмесі. Қате таптыңыз ба? Онда <a href={Contacts.Telegram} target="_blank" rel="noopener noreferrer" class="underline">маған</a> жазыңыз
    </p>

    <input class="w-full bg-zinc-900/10 dark:bg-zinc-600/20 my-10 py-3 px-5 rounded-2xl max-w-4xl" placeholder="Іздеу" />

    <div class="border-2 border-brand-light/20 rounded-xl shadow-xl shadow-brand/10">
      <Accordion title="Әріп (Letter)" client:load>
        Әріп — белгілі бір дыбысты білдіру үшін арналған графикалық таңба.​
      </Accordion>
      <Accordion title="Әріп (Letter)" client:load>
        Әріп — белгілі бір дыбысты білдіру үшін арналған графикалық таңба.​
      </Accordion>
      <Accordion title="Әріп (Letter)" client:load>
        Әріп — белгілі бір дыбысты білдіру үшін арналған графикалық таңба.​
      </Accordion>
    </div>
  </section>
</Layout>
<style>
  .h2 {
    @apply text-3xl font-medium my-6;
  }
</style>