---
import { Contacts } from '../data';
import Layout from '../layouts/Layout.astro';
import Collapse from '../components/Collapse.astro';
import { getEntry } from 'astro:content';

const { data } = await getEntry('typography', 'typography');

const words = data.words
  .sort((a, b) => a.title.localeCompare(b.title));

---
<Layout title="Типография — Qarip">
  <section class="max-w-5xl mx-auto dark:text-white">
    <h1 class="page-title">Типографиялық сөздік</h1>
    <p class="my-5 text-lg opacity-70">
      Әр терминнің өте қысқа түсіндірмесі. Қате таптыңыз ба? Онда <a href={Contacts.Telegram} target="_blank" rel="noopener noreferrer" class="underline">маған</a> жазыңыз
    </p>

    <input
      class="w-full bg-zinc-900/10 dark:bg-zinc-600/20 my-10 py-3 px-5 rounded-2xl max-w-3xl"
      placeholder="Іздеу"
      data-search="typography"
    />

    <div class="border-2 border-brand-light/20 rounded-xl shadow-xl shadow-brand/10" data-list="typography">
      {words.map((word) => (
        <Collapse title={word.title} description={word.description} />
      ))}
    </div>
  </section>
</Layout>
<script>
  const input = document.querySelector('[data-search="typography"]');
  const list = document.querySelector('[data-list="typography"]');

  if (input) {
    input.addEventListener('input', (e: any) => {
      console.log(e.target.value);
    })
  }

  if (list) {
    list.addEventListener('click', (e: any) => {
      if (e.target.nodeName === 'BUTTON') {
        const accordion = e.target.parentElement;
        const svg = accordion.querySelector('[accordion-svg]');
        const description = accordion.querySelector('[accordion-description]');

        svg.classList.toggle('hidden');
        description.classList.toggle('hidden');
      }
    })
  }

</script>
<style>
  .h2 {
    @apply text-3xl font-medium my-6;
  }
</style>