---
interface IFont {
	title: string;
	url: string;
}

interface Props {
	title: string;
	fonts: IFont[];
	href: string;
}

const { href, title, fonts } = Astro.props;
---

<section class="mt-32 dark:text-white">
	<div class="flex justify-between mb-4">
		<h2 class="font-medium text-2xl sm:text-4xl">{title}</h2>
		<a href={href} class="font-thin underline text-lg sm:text-2xl hover:text-brand whitespace-nowrap">Қалғаны →</a>
	</div>
	<div class="fonts-list">
		{fonts.map((item) => (
			<a href={item.url}>{item.title}</a>
		))}
	</div>
</section>
