---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title} description={frontmatter.description}>
  <!-- <script type="application/ld+json" slot="head">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "sdsd"
        }
      },{
        "@type": "Question",
        "name": "",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "asddsasad"
        }
      }]
    }
  </script> -->
  <section class="max-w-7xl mx-auto dark:text-white">
    <h1 class="page-title mb-2">{frontmatter.title}</h1>
    {frontmatter.description && (
      <p class="text-xl my-4">{frontmatter.description}</p>
    )}
    <hr class="my-5" />
    <div class="prose-lg md:prose-xl dark:prose-invert">
      <slot />
    </div>
  </section>
</Layout>
