---
import dayjs from 'dayjs';
import Layout from "./Layout.astro";

import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'qaripter'>['data'];

const { title, pubDate, author, tags } = Astro.props;
---
<Layout title={title}>
  <article class="max-w-7xl mx-auto dark:text-white">
    <h1 class="page-title mb-2">{title}</h1>
    {pubDate && (
      <p class="text-xl my-4">{dayjs(pubDate).format('DD.MM.YYYY')}</p>
    )}
    <p>Авторы: {author}</p>
    <nav class="flex flex-wrap gap-3 mt-4">
      <a href="/qaripter" class="tag">Қаріптер</a>
      {tags?.map((tag: string) => (
        <a href="" class="tag">{tag}</a>
      ))}
    </nav>
    <hr class="my-5" />
    <div class="prose-lg md:prose-xl dark:prose-invert">
      <slot />
    </div>
  </article>
</Layout>
<style>
  .tag {
    @apply bg-brand-dark rounded-full text-white px-3 py-1;
    @apply hover:bg-brand;
  }
</style>
